
.addCommentTextArea{
    width: 100%;
    border-top: none;
    border-left:none;
    border-right:none;

}
.addCommentTextArea:focus{
    outline: none;
    border-top:none;
    border-right: none;
    transition:0.3s;
    border-bottom: 1px solid rgb(40, 152, 204);
}

.commentList{
    max-height: 50vh;
    overflow-y: auto;
}